dconf/
evolution/
ibus/
pulse/
monitors.xml
user-dirs.*
.gsd-keyboard.settings-portedmozilla/
google-chrome/
chromium/
code/Cache/
code/CachedData/
code/CachedExtension/
code/CachedExtensions/
code/CachedFontData/
code/CachedV8Data/
*cache*
*.logmozilla/

heroic/
spotify/
