window#waybar {
    background-color: rgba(30, 30, 46, 0.85);
    border: 4px solid #ffb6c1;
    border-radius: 10px;
    color: #cdd6f4;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    padding: 0 10px;
}

#custom-logo,
#workspaces,
#custom-music,
#cpu,
#disk,
#memory,
#pulseaudio,
#language,
#clock {

    background-color: rgba(255, 182, 193, 0.15);
    color: #ffb6c1;
    /* Mude este valor de 1px para 0.5px ou delete esta linha se não quiser borda neles */
    border: 1px solid rgba(255, 182, 193, 0.3);
    border-radius: 6px;
    padding: 2px 15px;
    margin: 6px 8px;
}

#custom-logo:hover,
#custom-music:hover,
#cpu:hover,
#disk:hover,
#memory:hover,
#pulseaudio:hover,
#language:hover {
    background-color: rgba(255, 182, 193, 0.15);
    box-shadow: 0 0 4px rgba(255, 182, 193, 0.4);
}

#custom-logo {
    color: #ffb6c1;
    font-size: 15px;
}

#workspaces button {
    background-color: transparent;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 0px 8px;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #ffb6c1;
    color: #1e1e2e;
}

#custom-music, #cpu, #disk, #memory, #pulseaudio, #language {
    color: #ffb6c1;
}

#cpu, 
#disk, 
#memory, 
#pulseaudio, 
#language {
    font-size: 11px; 
}

#clock {
    background-color: #ffb6c1;
    font-family: "JetBrains Mono", monospace;
    color: #1e1e2e;
    font-weight: bold;
}

tooltip {
    background: #1e1e2e;
    border: 1px solid #ffb6c1;
    border-radius: 8px;
}

tooltip label {
    color: #cdd6f4;
    padding: 8px;
}

#custom-power {
    padding: 0 10px;
    margin: 0 5px;
    font-size: 16px;
    color: #ffffff;

}

element {
    border-radius: 10px;
    padding: 8px;
}

element selected {
    background-color: @accent;
    text-color: #1e1e2e;
}



